.container1{
    background-color: rgb(88, 10, 10);
    padding :5% 5%;
}
.heading{
    text-align: left;
    // font-size: large;
    font-weight: 5rem;
    color:white;
}

.text{
    text-align: left;
    color: white;
}