
.name{
    color: rgb(236, 226, 226);
    padding-left: 120px;
    
}

.container2{
    background-color: rgb(211, 45, 128);
    padding: 10% 10%;
}

.pic{
    height: 100px;
    width: 100px;
    border-radius: 80px;
    float: left;
  
}
.intro{
    color: rgb(250, 247, 242);
    padding-left: 110px;
}
