.navbar{
    padding-bottom:0 0 0 4.5rem;
    // background-color:rgb(211, 45, 128);
    
    
}

  .navbar-brand{
    // color:rgb(211, 45, 128);

      font-size:2.5rem;
      font-weight: bold;
  }
  .nav-item{
      padding:0 18px;
    //   background-color:rgb(211, 45, 128);
  }

  .nav-link{
      font-size:1.2rem;
      font-family: "Montserrat-Light";
    //   background-color:rgb(211, 45, 128);
  }
.NavBar{
    background-color:rgb(211, 45, 128);

   
}